body {
  font-family: "Poppins", sans-serif;
  background-image: url(/img/circle-scatter-haikei.svg);
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}

footer li {
  list-style-type: none;
}

footer {
  height: 65px;
}
#profile {
  height: 400px;
}
.ferdinand,
.aboutme {
  font-weight: 200;
}
.ferdinand span {
  font-weight: 400;
}
nav {
  background-color: #acacac3f;
}
/* maps */

.mapouter {
  position: relative;
  text-align: right;
  height: 100%;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

#contact {
  padding: 7px;
}

@media screen and (max-width: 560px) {
  #contact {
    height: 999px;
  }
}
